<!doctype html>
<html>
<head>
    <title>{% block title %}Bundlebin{% endblock %}</title>
</head>
<body>
    <a href="/"><img src="{{ url_for('static', filename='logo.svg') }}" /></a>
    <br />

    {% block body %}
    <b class="upload">Upload A Bundle</b>

    <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <br /><br />
        <input type="submit" value="Upload">
    </form>

    <p>The Bundlebin is an easy to share activity bundles with others.
       Simpily upload the bundle and you will recieve a link that you can share
       with your friends.  The bundles will be deleted after 12 hours</p>
    {% endblock %}
</body>
</html>
